<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Článek o návštěvě Budapešťi">
    <meta name="author" content="Jiří Toman">
    <title>Tart - Budapešť</title>
    <link rel="stylesheet" href="../styles/main.min.css">
    <link rel="stylesheet" href="../styles/lightbox.css">
    <link rel=stylesheet href="../styles/print.css" media="print">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>
    <noscript>
        <nav id="nojs">
            <ul>
                <li><a href="../index.html">Domů</a></li>
                <li> <a href="./rijks.html">Rijksmuseum Amsterdam</a></li>
                <li><a href="./budapest.html">Budapešť</a></li>
                <li><a href="./wien.html">Vídeň</a></li>
                <li><a href="./prag.html">Picasso v Praze</a></li>

            </ul>
        </nav>
    </noscript>
    <nav>
        <div class="topnav" id="topnav">
            <a href="../index.html" class="active">Home</a>
            <a href="./rijks.html">Rijksmuseum</a>
            <a href="./budapest.html">Budapešť</a>
            <a href="./wien.html">Vídeň</a>
            <a href="./prag.html">Picasso</a>


            <div id="menu-toggle" class="menu-toggle" onclick="myFunction()">
                <div id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div id="cross">
                    <span></span>
                    <span></span>
                </div>
            </div>


        </div>
    </nav>
    <div id="content">
        <header>
            <h1>Výlet do Budapešťi</h1>
            <p>Na začátku října 2017 jsem podnikl cestu vlakem do Budapešti šlo o krátký dvoudenní výlet kdy jsem první den dopoledne přijel a třetí den v brzkých ranních hodinách odjel.</p>

        </header>
        <main>



            <article>

                <h2>Architektura a sochařství</h2>
                <p>Budapešť je město plné nádherných budov s majestátní architekturou. Proto jsem první a část druhého dne strávil jen procházením města. Každému vřele doporučuji v noci vyjít na Rybářskou baštu a podávat se na budovu parlamentu. Obě jsou
                    velice pěkně nasvícené a na Rybářské baště je v noci hudební doprovod, který dodává zážitku až pohádkovou atmosféru.</p>
                <p>Množstvím nádherných budov a sochařského umění se Budapešť dá přirovnat k Praze, liší se od ní pouze dostupným prostorem. Tam kde je v Praze všechno místo absolutně využito Budapešť místy působí až prázdným dojmem. </p>
                <h2>Národní galerie v Budapešti</h2>
                <!-- obrazek a mapa -->
                <div class="flexrow">
                    <img src="../images/Hungarian_National_Gallery.jpg" alt="Maďarská národní galerie" height="300">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.6817228312275!2d19.037473515626687!3d47.49611337917749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc3b817f7a41%3A0x2fe2e46b9fd445cd!2zTWHEj2Fyc2vDoSBuw6Fyb2Ruw60gZ2FsZXJpZQ!5e0!3m2!1scs!2scz!4v1558431454973!5m2!1scs!2scz"
                        width="300" height="300" style="border:0" allowfullscreen></iframe></div>
                <p>„Maďarská národní galerie (maďarsky Magyar Némzeti Galéria) v Budapešti vystavuje největší sbírku maďarského výtvarného umění od nejstarších dob až do současnosti, včetně děl umělců, kteří působili v cizině. Jako samostatné muzeum byla
                    založena v roce 1957, v Budínském paláci je umístěna od roku 1975. Sbírky mezinárodního umění jsou vystaveny v Muzeu krásných umění na Hösök Tér “ z <a href="https://cs.wikipedia.org/wiki/Ma%C4%8Farsk%C3%A1_n%C3%A1rodn%C3%AD_galerie">wikipedie</a></p>

                <p>Během prohlídky paláců a historického opevnění jsem zavítal na několik hodin do Maďarské národní galerie. </p>

                <p>Do Budapešti jsem nejel za specifickým umělcem – uměním. Proto jsem procházel pouze maďarské historické umění. </p>
                <p>V době mé návštěvy bylo každé patro věnováno jinému období a umělcům. Ze všech období mě nejvíce zaujal konec devatenáctého a začátek dvacátého století. Následuje výběr obrazů a děl, které mě zaujaly.</p>

                <div class="flexrow gallery">
                    <div>
                        <a href="../images/1200px-The_Rakoczi_March_Sketch_Hollósy_Simon.jpg" data-lightbox="budapest" data-title="Simon Hollósy - The Rakoczi March"><img src="../images/215px-The_Rakoczi_March_Sketch_Hollósy_Simon.jpg" alt="Simon Hollósy - The Rakoczi March"></a>
                    </div>
                    <div>
                        <a href="../images/Hollosy1893.jpg" data-lightbox="budapest" data-title="Simon Hollósy - The troubles of the Country"><img src="../images/202px_Hollosy_Simon_The_Troubles.jpg" alt="Simon Hollósy - The troubles of the Country"></a>
                    </div>
                    <div>
                        <a href="../images/Tihanyi_Bathers.jpg" data-lightbox="budapest" data-title="Lajos Tihanyi - Bathers"><img src="../images/135px-Tihanyi_Bathers.jpg" alt="Lajos Tihanyi - Bathers"></a>
                    </div>
                    <div>
                        <a href="../images/Czigany_Self_Portrait_1913.jpg" data-lightbox="budapest" data-title="Czigány Dezsö – Autoportrét 1913"><img src="../images/106Czigany1913.jpg" alt="Czigány Dezsö – Autoportrét 1913"></a>
                    </div>
                </div>
                <p>Po dokončení prohlídky historického centra a palácového komplexu jsem při návratu do hostelu narazil na festival vína, kde jsem zůstal na pár hodin. Víno se prodávalo ve stáncích umístěných okolo náměstí u baziliky Svatého Štěpána. Náměstí
                    samotné bylo plné lavic se stoly. Před bazilikou bylo umístěné malé pódium kde hrály malé místní kapely.</p>

                <p>Zbytek noci jsem přečkal v nonstopu a v brzkých ranních hodinách jel vlakem domů.</p>




            </article>
        </main>
    </div>
    <footer id="footer">
        <p>Toto je studentský projekt pro předmět TNPW1</p>

        <a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fjiritoman.github.io%2FTNPW1%2Fviews%2Fbudapest.html"><span
                class="bold">W3C</span>.nu validace</a>



    </footer>



    <script src="../js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../js/lightbox.js"></script>
</body>

</html>