<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Článek o výstavě Picassa">
    <meta name="author" content="Jiří Toman">
    <title>Tart - Rijksmuseum</title>
    <link rel="stylesheet" href="../styles/main.min.css">
    <link rel="stylesheet" href="../styles/lightbox.css">
    <link rel=stylesheet href="../styles/print.css" media="print">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>
    <noscript>
        <nav id="nojs">
            <ul>
                <li><a href="../index.html">Domů</a></li>
                <li> <a href="./rijks.html">Rijksmuseum Amsterdam</a></li>
                <li><a href="./budapest.html">Budapešť</a></li>
                <li><a href="./wien.html">Vídeň</a></li>
                <li><a href="./prag.html">Picasso v Praze</a></li>

            </ul>
        </nav>
    </noscript>
    <nav>
        <div class="topnav" id="topnav">
            <a href="../index.html" class="active">Home</a>
            <a href="./rijks.html">Rijksmuseum</a>
            <a href="./budapest.html">Budapešť</a>
            <a href="./wien.html">Vídeň</a>
            <a href="./prag.html">Picasso</a>


            <div id="menu-toggle" class="menu-toggle" onclick="myFunction()">
                <div id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div id="cross">
                    <span></span>
                    <span></span>
                </div>
            </div>


        </div>
    </nav>
    <div id="content">
        <header>
            <h1>Picasso v Praze</h1>
            <p>V říjnu 2018 jsem jel do Prahy na výstavu díla Pabla Picassa v Sovových mlýnech.</p>

        </header>
        <main>



            <article>
                <h2>Sovovy mlýny</h2>
                <div class="flexrow">
                    <img src="../images/Muzeum_Kampa.jpg" alt="Sovovy mlýny" height="300">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.120300734071!2d14.406288015551755!3d50.08403447942649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b94e4eb23e6a1%3A0x8b59e5510f9687b9!2sMuseum+Kampa!5e0!3m2!1scs!2scz!4v1558434840408!5m2!1scs!2scz"
                        width="300" height="300" style="border:0" allowfullscreen></iframe></div>
                <p>„Sovovy mlýny (též Odkolkovy mlýny) je budova, resp. komplex budov, zahrnující bývalý vodní mlýn s hospodářským zázemím a obytnou částí pro majitele na malostranském ostrově Kampa (skládá se z objektů čp. 503/III a 527/III, číslo orientační
                    U Sovových mlýnů 2). Budovu od roku 2002 využívá Museum Kampa. Objekt se nazývá podle renesančního mlynáře Václava Sovy z Liboslavě (případně po majiteli 19. století Františku Odkolkovi). Renesanční stavba vznikla v roce 1589, v 19.
                    století došlo k velkým přestavbám v klasicistním a po velkém požáru roku 1867 v novogotickém. Po požáru také mlynář Odkolek přeměnil provoz na moderní parní mlýn. V roce 1896 došlo k dalšímu požáru po kterém již provoz obnoven nebyl.
                    Vyhořelou část mlýna rodina (dcera Františka Odkolka a její choť Ladislav Pinkas) prodala roku 1920 pražské obci, ale obytnou část nadále využívala až do roku 1950. Poté budovy využívala Československá akademie věd, stav se ale postupně
                    zhoršoval. Od konce 20. století se začala o budovy zajimat Nadace Jana a Medy Mládkových a k razantní přestavbě a daptaci na galerijní budovu došlo roku 2002.“ <a href="https://cs.wikipedia.org/wiki/Sovovy_mlýny">z wikipedie</a></p>
                <p>Výstava byla unikátní tím, že se zaměřila na Picassovy kresby namísto maleb. <a href="http://www.museumkampa.cz/vystava/picasso/">Zde</a> je odkaz na stránku</p>
                <p>Mě osobně na Picassovu kresbu původně upozornila tato historka(ať je pravdivá či ne). </p>
                <div class="flexrow">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/AZoBuqOP1mI?start=900" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

                <p>To mě přinutilo vyhledat si Holubici Míru a tak jsem našel i další jeho grafiky a kresby.</p>

                <p>Na výstavě mě uchvátila dokonalost a preciznost Picassových linek. To co picasso dokáže s obyčejnou čárou je úžasné.</p>
                <p>Zde je pro ilustraci link na obrázek výstavy. <a href="https://www.moma.org/collection/works/64972">Zraněný toreador</a></p>

            </article>
        </main>
    </div>
    <footer id="footer">
        <p>Toto je studentský projekt pro předmět TNPW1</p>

        <a href="https://validator.w3.org/nu/?showsource=yes&showoutline=yes&showimagereport=yes&doc=https%3A%2F%2Fjiritoman.github.io%2FTNPW1%2Fviews%2Fprag.html"><span
                class="bold">W3C</span>.nu validace</a>



    </footer>



    <script src="../js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../js/lightbox.js"></script>
</body>

</html>