<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Článek o návštěvě Rijksmuzea v Amsterdamu">
    <meta name="author" content="Jiří Toman">
    <title>Tart - Rijksmuseum</title>
    <link rel="stylesheet" href="../styles/main.min.css">
    <link rel="stylesheet" href="../styles/lightbox.css">
    <link rel=stylesheet href="../styles/print.css" media="print">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>
    <noscript>
        <nav id="nojs">
            <ul>
                <li><a href="../index.html">Domů</a></li>
                <li> <a href="./rijks.html">Rijksmuseum Amsterdam</a></li>
                <li><a href="./budapest.html">Budapešť</a></li>
                <li><a href="./wien.html">Vídeň</a></li>
                <li><a href="./prag.html">Picasso v Praze</a></li>

            </ul>
        </nav>
    </noscript>
    <nav>
        <div class="topnav" id="topnav">
            <a href="../index.html" class="active">Home</a>
            <a href="./rijks.html">Rijksmuseum</a>
            <a href="./budapest.html">Budapešť</a>
            <a href="./wien.html">Vídeň</a>
            <a href="./prag.html">Picasso</a>


            <div id="menu-toggle" class="menu-toggle" onclick="myFunction()">
                <div id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div id="cross">
                    <span></span>
                    <span></span>
                </div>
            </div>


        </div>
    </nav>
    <div id="content">
        <header>
            <h1>Návštěva Rijksmusea v Amsterdamu</h1>
            <p> V září 2017 jsem se svým bratrem podnikl cestu za poznáním Amsterdamu. Cestovali jsme tak trochu na divoko a jeden den jsme věnovali návštěvě Rijksmusea. </p>

        </header>
        <main>



            <article>
                <!-- obrazek a mapa -->
                <div class="flexrow">
                    <img src="../images/rijksmuseum.jpg" alt="Rijksmuseum" height="300">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1AQrZcyIvxC5qQhMtWvi5lsOBDng" width="300" height="300"></iframe></div>

                <h2>O Rijksmuseu</h2>
                <p>„Rijksmuseum Amsterdam, zkráceně Rijksmuseum, je největší a nejvýznamnější muzeum Nizozemska. Nachází se na náměstí Museumplein v jižní části Amsterdamu a ve více než 200 sálech nabízí přehled nizozemského umění a historie. Sbírka mimo
                    jiné obsahuje díla holandských mistrů 17. století jako Rembrandt, Vermeer a Hals. Rijksmuseum je ve vlastnictví státu a spadá pod vedení veřejné správy. “ <a href="https://cs.wikipedia.org/wiki/Rijksmuseum_Amsterdam">z wikipedie</a>
                </p>


                <h2>Očekávání</h2>


                <p>Očekávali jsme ,že projdeme alespoň dvě patra za 10 hodin. Jako první jsme tedy zvolili patro právě s holandskými mistry jako jsou Rembrandt a Vermeer.</p>

                <h2>Průběh návštěvy</h2>
                <h3>Obrazy</h3>
                <p>Po vystoupání do správného patra se mi velice líbily vitráže v hale. Po jejich prohlédnutí jsme se pustili do jeho procházení. Od vstupu do expozice se celým středem budovy táhla hlavní expozice obsahující renesanční a hlavně barokní obrazy.</p>
                <p>Expozice obsahovala jak světově uznávané mistry, tak umělce i mě neznámé. Někteří z nich mě oslovili mnohem více než některá známá jména.</p>
                <p>Hlavním zážitkem z expozice, však bylo Rembrandtovo dílo. První, co mě na jeho díle zaujalo, byla jeho kompoziční dovednost, kterou využíval pro vytvoření zajímavé scény i na obrovské ploše. Dále měl neuvěřitelným cit pro detail, který
                    není u každého velkého umělce jeho doby běžné. Spojení Těchto dvou dovedností vedlo k velice živým obrazům, kde každý jednotlivý prvek sděluje nějaký příběh a má smysl.</p>
                <h3>Sochařství, umělecké práce s dřevem a kovem</h3>
                <p>Projít jen samotnou sekci s obrazy nám trvalo do pozdních odpoledních hodin. Pak jsme prošli sekci s dobovým sochařstvím(zde bylo také zahrnuto mincovnictví, dřevořezba a rytiny jak do kovu tak do dřeva). Následovala historická knihovna
                    obsahující spoustu původních publikací.</p>
                <p>V tento moment už byl podvečer a blížila se zavírací doba tak jsme jen rychle prošli sekci s porcelánem sklem a nábytkem</p>
                <p>Po dokončení prohlídky jsme byli úplně vyčerpaní, jak fyzicky, tak mentálně. Cítil jsem se jak po deseti-hodinovém filmovém maratonu. Ač jsme na 4-denním výletě plánovali i další zastávky v galeriích nakonec jsme od nich upustili.</p>
                <h2>Závěr</h2>
                <p>Muzeum je samo o sobě velice umělecky hodnotná budova, ale rozsah a obsah sbírek ukazovaných zde je jednoznačně monumentální. Návštěvu bych doporučil každému, kdo má zájem o umění a pokud máte opravdu veliký zájem o umění(jako já) doporučuji
                    si vyhradit týden a dělat přestávky mezi návštěvami.</p>
                <p>Pokud neradi cestujete nebo se chctete podívat ihned Rijksmuseum na stránkách umožňuje vidět a používat vybraná díla. Sám jsem je kontaktoval a s jejich svolením tento zdroj budoucnu použiji jako doprovod článku. Tyto díla najdete <a href="https://www.rijksmuseum.nl/en/rijksstudio">zde</a>.</p>

            </article>
        </main>
    </div>
    <footer id="footer">
        <p>Toto je studentský projekt pro předmět TNPW1</p>

        <a href="https://validator.w3.org/nu/?showsource=yes&showoutline=yes&showimagereport=yes&doc=https%3A%2F%2Fjiritoman.github.io%2FTNPW1%2Fviews%2Frijks.html"><span
                class="bold">W3C</span>.nu validace</a>



    </footer>



    <script src="../js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../js/lightbox.js"></script>
</body>

</html>