<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Článek o návštěvě Vídně">
    <meta name="author" content="Jiří Toman">
    <title>Tart - Rijksmuseum</title>
    <link rel="stylesheet" href="../styles/main.min.css">
    <link rel="stylesheet" href="../styles/lightbox.css">
    <link rel=stylesheet href="../styles/print.css" media="print">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>
    <noscript>
        <nav id="nojs">
            <ul>
                <li><a href="../index.html">Domů</a></li>
                <li> <a href="./rijks.html">Rijksmuseum Amsterdam</a></li>
                <li><a href="./budapest.html">Budapešť</a></li>
                <li><a href="./wien.html">Vídeň</a></li>
                <li><a href="./prag.html">Picasso v Praze</a></li>

            </ul>
        </nav>
    </noscript>
    <nav>
        <div class="topnav" id="topnav">
            <a href="../index.html" class="active">Home</a>
            <a href="./rijks.html">Rijksmuseum</a>
            <a href="./budapest.html">Budapešť</a>
            <a href="./wien.html">Vídeň</a>
            <a href="./prag.html">Picasso</a>


            <div id="menu-toggle" class="menu-toggle" onclick="myFunction()">
                <div id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div id="cross">
                    <span></span>
                    <span></span>
                </div>
            </div>


        </div>
    </nav>
    <div id="content">
        <header>
            <h1>Víkend ve Vídni</h1>
            <p> V červenci 2018 jsem jel s kolegyní na víkend do Vídně na festival elektronické hudby. Část druhého dne jsem využil na prohlídku města a návštěvu Uměleckohistorického muzea ve Vídni.</p>

        </header>
        <main>



            <article>
                <h2>Architektura</h2>
                <p>Dopoledne jsem si zašel na snídani do http://www.budapestbistro.at/ a pak jsem v poklidu procházel město směrem k Belvederu. Cestou jsem narazil na katolický kostel svaté Alžběty viditelný již z dálky a když se rozezněly zvony rozhodl
                    jsem se na něj podívat zblízka. Kostel je jednolodní bazilika, která byla nedávno renovovaná. Nakoukl jsem dovnitř ale probíhala bohoslužba a tak jsem pokračoval dál k Belvederu.
                </p>
                <h3>Belvedere</h3>
                <div class="flexrow">
                    <img src="../images/Belvedere.jpg" alt="Belvedere" height="300">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.781644626777!2d16.378766015478053!3d48.191558479227695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d077d020b9ea5%3A0x4a65fc52a0937607!2sBelveder!5e0!3m2!1scs!2scz!4v1558433849835!5m2!1scs!2scz"
                        width="300" height="300" style="border:0" allowfullscreen></iframe></div>
                <p>„Belveder je barokní palácový komplex ve Vídni, v městském okrese Landstraße, jihovýchodně od centra města, nedaleko od Hlavního nádraží. Výstavba paláců, zejména jejich interiér, byla mimo jiné zamýšlena jako památník vojenské a politické
                    slávy Evžena Savojského.[1]“ <a href="https://cs.wikipedia.org/wiki/Belveder_(pal%C3%A1c)">z wikipedie</a></p>
                <p>Prošel jsem Jižní část Belvederu na chvíli se zastavil v parčíku poblíž Vienna Quiartier Belveder zastávky. Vrátil se k severnímu konci Belvederu a užíval si sochy a fontány v zahradách. U severního konce jsem narazil na další kostel(Svateho
                    kříže) kde právě probíhala bohoslužba a pokračoval k památníku Rudé amády. Na jedné straně je Francouzská ambasáda, která je umístěná v nádherné secesní budově.</p>
                <p>Pokračoval jsem okolo opery až jsem dorazil k Umělecko-historickému muzeu Vídeň.</p>



                <h2>Uměleckohistorické muzeum Vídeň</h2>
                <div class="flexrow">
                    <img src="../images/Kunsthistorishe.jpg" alt="Kunsthistorisches Museum Wien" height="300">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.1461091095925!2d16.359598715478523!3d48.20380157922881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d079a63cf77f1%3A0x6f6052b56ca6b841!2sUm%C4%9Bleckohistorick%C3%A9+muzeum!5e0!3m2!1scs!2scz!4v1558434037682!5m2!1scs!2scz"
                        width="300" height="300" style="border:0" allowfullscreen></iframe></div>

                <p>„Uměleckohistorické muzeum (německy Kunsthistorisches Museum, zkráceně také KHM) ve Vídni patří mezi nejvýznamnější muzea umění v Evropě. Z podnětu císaře Františka Josefa I. soustředilo císařskou klenotnici, obrazárnu, sbírky zbraní,
                    starožitností a mincí, zlaté poklady nalezené v Uhrách a další sbírky.“ <a href="https://cs.wikipedia.org/wiki/Um%C4%9Bleckohistorick%C3%A9_muzeum_(V%C3%ADde%C5%88)">z wikipedie</a></p>

                <p>Zde jsem se podíval na fresky od Gustava Klimta, ke kterým bylo postaveno lešení a byla k nim vedená expozice.</p>
                <p>Dále jsem prošel část expozice s Holandskými mistry a začala mě dohánět únava z předchozího dne. Chvíli jsem si odpočal, a pak mě čas donutil spěchat na vlak. Ten jsem tak tak stihnul.</p>

            </article>
        </main>
    </div>
    <footer id="footer">
        <p>Toto je studentský projekt pro předmět TNPW1</p>

        <a href="https://validator.w3.org/nu/?showsource=yes&showoutline=yes&showimagereport=yes&doc=https%3A%2F%2Fjiritoman.github.io%2FTNPW1%2Fviews%2Fwien.html"><span
                class="bold">W3C</span>.nu validace</a>



    </footer>



    <script src="../js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../js/lightbox.js"></script>
</body>

</html>