// main: main.scss
$black: rgb(0, 0, 0);
$light-black: #363636;
$prussian-blue: #073559;
$light-grey: #b8c0cd;
$dark-grey: #636363;
$cream: #ffdf99;
$section-grey: #fafafa;
$menu-grey: rgba(0, 0, 0, 0.08);
// $menu-grey-light: rgba(0, 0, 0, 0.04);