nav {
    display: none;
}

footer {
    display: none;
}

body {
    padding-bottom: 64px;
    padding-top: 32px;
}

#content {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}